*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.dropdown{
    width:200px;
    position:relative;
    top:50px;
    left:1000px;
    cursor: pointer;
  
    
}
button{
    cursor: pointer;
}

.dropdown:hover ul{
     display:block;
   
}
.dropdown ul{
    width:88px;
    position:absolute;
    top:19px;
    left:0px;
    list-style:none;
    background-color:rgb(218, 204, 189);
    display:none;

}
.dropdown ul li{
      border-bottom:1px solid black;
      color:rgb(37, 33, 33);
      margin:5px;
      padding:5px;
      text-align:center;
}
h1{
    position:relative;
    width:200px;
    margin:auto;
    padding-top:10px;

}
h1::before{
    content:"";
   position:absolute;
    top:40px;
    left:0px;
    width:200px;
    height:3px;
    background-color:green;

}

